@page "/CursoDetalle/{id:int}/{idPrecio:int}/{modo}"
@attribute [Authorize]

<h3 class="text-center my-3">@(EsModoEdicion ? "Editar Curso" : "Detalles del Curso")</h3>

@if (IsLoading)
{
    <div class="d-flex justify-content-center my-5">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Cargando...</span>
        </div>
    </div>
}
else if (Curso != null)
{
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card p-4 shadow-lg">
                    <div class="card-body">
                        <EditForm Model="@Curso" OnValidSubmit="GuardarCambios">
                            <DataAnnotationsValidator />

                            <!-- Nombre del Curso -->
                            <div class="form-group row">
                                <label for="NombreCurso" class="col-sm-4 col-form-label">Curso:</label>
                                <div class="col-sm-8">
                                    <InputText id="NombreCurso" class="form-control" placeholder="Nombre del curso"
                                               @bind-Value="Curso.NombreCurso" disabled="@(!EsModoEdicion)" />
                                    <ValidationMessage For="@(() => Curso.NombreCurso)" />
                                </div>
                            </div>

                            <hr />

                            <!-- Información del Precio -->
                            <h5>Precio</h5>
                            <div class="form-group row">
                                <label for="Coste" class="col-sm-4 col-form-label">Precio (€):</label>
                                <div class="col-sm-8">
                                    <InputNumber id="Coste" ParsingErrorMessage="Debe introducir un coste"
                                                 class="form-control" placeholder="Precio del curso"
                                                 @bind-Value="Precio.Coste" disabled="@(!EsModoEdicion)" />
                                    <ValidationMessage For="@(() => Precio.Coste)" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="FechaInicio" class="col-sm-4 col-form-label">Fecha Inicio:</label>
                                <div class="col-sm-8">
                                    <InputDate id="FechaInicio" ParsingErrorMessage="Debe seleccionar una fecha"
                                               class="form-control" placeholder="Fecha inicio del precio"
                                               @bind-Value="Precio.FechaInicio" disabled="@(!EsModoEdicion)" />
                                    <ValidationMessage For="@(() => Precio.FechaInicio)" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="FechaFin" class="col-sm-4 col-form-label">Fecha Fin:</label>
                                <div class="col-sm-8">
                                    <InputDate id="FechaFin" ParsingErrorMessage="Debe seleccionar una fecha"
                                               class="form-control" placeholder="Fecha fin del precio"
                                               @bind-Value="Precio.FechaFin" disabled="@(!EsModoEdicion)" />
                                    <ValidationMessage For="@(() => Precio.FechaFin)" />
                                </div>
                            </div>

                            @if (EsModoEdicion)
                            {
                                <!-- Botón para agregar nuevo precio -->
                                @if (!EsNuevoPrecio)
                                {
                                    <div class="text-center my-3">
                                        <button type="button" class="btn btn-primary m-1" @onclick="AgregarNuevoPrecio">Agregar Precio</button>
                                    </div>
                                }

                                <!-- Nuevo formulario de precio -->
                                @if (EsNuevoPrecio)
                                {
                                    <hr />
                                    <h5>Nuevo Precio</h5>
                                    <div class="form-group row">
                                        <label for="NuevoCoste" class="col-sm-4 col-form-label">Precio (€):</label>
                                        <div class="col-sm-8">
                                            <InputNumber id="NuevoCoste" ParsingErrorMessage="Debe introducir un coste"
                                                         class="form-control" placeholder="Precio del curso"
                                                         @bind-Value="NuevoPrecio.Coste" />
                                            <ValidationMessage For="@(() => NuevoPrecio.Coste)" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="NuevoFechaInicio" class="col-sm-4 col-form-label">Fecha Inicio:</label>
                                        <div class="col-sm-8">
                                            <InputDate id="NuevoFechaInicio" ParsingErrorMessage="Debe seleccionar una fecha"
                                                       class="form-control"
                                                       @bind-Value="NuevoPrecio.FechaInicio" />
                                            <ValidationMessage For="@(() => NuevoPrecio.FechaInicio)" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="NuevoFechaFin" class="col-sm-4 col-form-label">Fecha Fin:</label>
                                        <div class="col-sm-8">
                                            <InputDate id="NuevoFechaFin" ParsingErrorMessage="Debe seleccionar una fecha"
                                                       class="form-control"
                                                       @bind-Value="NuevoPrecio.FechaFin" />
                                            <ValidationMessage For="@(() => NuevoPrecio.FechaFin)" />
                                        </div>
                                    </div>

                                    <div class="text-center">
                                        <button type="button" class="btn btn-secondary m-2" @onclick="CancelarNuevoPrecio">Cancelar Agregar</button>
                                        <button type="button" class="btn btn-outline-warning m-2" @onclick="GuardarPrecio">Agregar</button>
                                    </div>
                                }
                            }

                            <div class="text-center mt-3">
                                <button type="button" class="btn btn-secondary m-1" @onclick="Cancelar">Cancelar</button>

                                @if (!EsModoEdicion)
                                {
                                    <button type="button" class="btn btn-outline-warning m-1" @onclick="EditarAlumno">Editar</button>
                                }

                                @* <button type="button" class="btn btn-danger m-1" @onclick="() => BorrarCurso(Curso.Id)">Eliminar</button> *@
                                <button type="button" class="btn btn-danger m-1" @onclick="@(() => MostrarModalEliminar = true)">Eliminar</button>

                                <!-- Este es el único botón de tipo 'submit' que debe ejecutar 'GuardarCambios' -->
                                <button type="submit" class="btn btn-success m-1">Guardar</button>
                            </div>

                        </EditForm>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <p class="text-danger text-center">Curso no encontrado.</p>
}

<ModalConfirmacion Titulo="¿Estás seguro?"
                   Descripcion="Esta acción eliminará el curso de forma permanente."
                   TipoModal="info" 
                   Mostrar="@MostrarModalEliminar"
                   MostrarChanged="@((bool valor) => MostrarModalEliminar = valor)"
                   OnConfirmar="@(() => BorrarCurso(Curso.Id))" />
@* error - success - info *@