@page "/LoginPage"
@using Microsoft.AspNetCore.Components.Forms
@using BlazorServer.Shared

<!-- Fondo animado -->
<div class="background-animated"></div>
<!-- Puntos rebotando -->
<div class="floating-particles">
    @for (int i = 0; i < 80; i++)
    {
        <div class="particle" style="@GetParticleStyle(i)"></div>
    }
</div>


<!-- Contenedor centrado -->
<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="login-card animate-fadeIn text-center">
        <h3 class="text-center mb-4 text-primary">Iniciar Sesión</h3>
        <EditForm Model="@usuarioLogin" OnValidSubmit="@ValidarUsuario">
            <DataAnnotationsValidator />

            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <InputText id="email" class="form-control" @bind-Value="usuarioLogin.EmailLogin" />
                <ValidationMessage For="@(() => usuarioLogin.EmailLogin)" />
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <InputText id="password" type="password" class="form-control" @bind-Value="usuarioLogin.Password" />
                <ValidationMessage For="@(() => usuarioLogin.Password)" />
            </div>

            <div class="d-grid gap-2 mt-4">
                <button class="btn btn-outline-success" type="submit">Login</button>
                <button class="btn btn-outline-secondary" type="button" @onclick="IrARegistro">Registro</button>
            </div>
        </EditForm>
    </div>
</div>

<ModalConfirmacion Titulo="Error"
                   Descripcion="@textoError"
                   TipoModal="error"
                   Mostrar="@mostrarModal"
                   MostrarChanged="@((bool valor) => mostrarModal = valor)" />
