<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <h1>Pagina no encontrada</h1>
            <p class="text-danger" role="alert">Vata a otra pagina de nuestra aplicacion</p>
        </LayoutView>
    </NotFound>
</Router>
